Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor contributors
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/ContributorList.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
  src/config/cacheTags.ts
  src/config/serverConfig.ts
  src/data-layer/github/fetchFromGitHub.ts
  src/data-layer/github/getContributors.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add to page and update env
  .env.example
  src/app/[locale]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix lint issues
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
  src/components/ContributorsSkeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell --no-must-find-files

rebase with next b and fix default exports
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add contributors components
  src/app/[locale]/+components/Contributors.tsx
  src/components/Contributor.tsx
  src/components/ContributorsSkeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add translations
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

remove logs
  src/app/[locale]/blogs/[slug]/page.tsx
  src/data-layer/github/getContributors.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor tags
  src/config/cacheTags.ts
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvents.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix json, generic type, concat
  src/app/[locale]/+components/Contributors/Contributors.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix formatting issue
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

improve contributors size
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Contributors/ContributorList.tsx
  src/data-layer/datocms/getBlog.ts
  src/data-layer/github/getContributors.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update locks
  pnpm-lock.yaml
Due: cspell --no-must-find-files

replace next image to img
  eslint.config.mjs
  src/app/[locale]/+components/Auth/LoginButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix avatar size issue
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/LocaleSelect.tsx
  src/components/SecondaryButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove redundant eslint comment
  src/app/api/og/ask/route.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add github bot project
  src/app/[locale]/projects/+components/GitHubBot.svg
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: update eslint version
  configs/pascalCaseWithUnderscores.js
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/Confetti.tsx
  src/app/[locale]/hsl/+reducer/colorGameReducer.ts
  src/app/[locale]/rules/guidelines.ts
  src/app/[locale]/rules/rules.ts
  src/app/[locale]/type/atoms.ts
  src/app/loading.tsx
  src/components/FocusItemList/FocusItem.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/components/ListItem.tsx
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvent.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/github/getContributors.ts
  src/data-layer/wakatime/getReport.tsx
  src/store/JotaiProvider.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade next
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/data-layer/datocms/DatoCMS.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: fix canonical links
  package.json
  pnpm-lock.yaml
  src/proxy.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add blog and event metadata
  package.json
  pnpm-lock.yaml
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/blogs/page.tsx
  src/app/[locale]/events/[slug]/page.tsx
  src/app/[locale]/events/layout.tsx
  src/app/[locale]/wakatime/layout.tsx
  src/components/SEO.tsx
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/github/getContributors.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

chore: format code
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/type/+components/Retry.tsx
  src/app/api/og/ask/route.tsx
  src/components/Button.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

chore: update dev dependencies
  pnpm-lock.yaml
Due: cspell --no-must-find-files

upgrade dependencies
  package.json
  pnpm-lock.yaml
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/atoms.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix broken wakatime link
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: add margin to Separator component in LocaleLayout
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

Update IR.svg FA flag to Lion and Sun
  src/app/[locale]/+components/IR.svg
Due: none

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
