Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "cspell --no-must-find-files"]
}

refactor: separate cached and uncached getReport, prevent duplicates
  src/data-layer/wakatime/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: fix wakatime [bot] cache
  src/app/(wakatime)/day/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/data-layer/wakatime/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade to react@19.2.0
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/wakatime/+components/Diff.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/data-layer/supabase/SupabaseProvider.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add support for codeblock
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/components/getDatoNode.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

begin migration to Next.js 16
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/api/og/ask/route.tsx
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvent.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/wakatime/getReport.tsx
  src/proxy.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update tsconfig
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

migrate svgr to turbopack
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/GithubIcon.asset.svg
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate to typed routes
  src/app.d.ts
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/events/+components/EventCard.tsx
  src/app/[locale]/events/+components/EventCardAction.tsx
  src/app/[locale]/events/+components/EventCardDescription.tsx
  src/app/[locale]/events/+components/EventCardTitle.tsx
  src/app/[locale]/events/+components/EventList.tsx
  src/app/[locale]/events/+components/LecturerStack.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/page.tsx
  src/app/[locale]/events/[slug]/page.tsx
  src/app/[locale]/events/layout.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/type/layout.tsx
  src/app/[locale]/wus/page.tsx
  src/app/layout.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove advent of code
  .env.example
  messages/en.json
  messages/fa.json
  public/og/advent.png
  scripts/sync-advent
  src/app/(wakatime)/day/advent/page.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/advent/+components/Advent.png
  src/app/[locale]/advent/+components/AdventOfCodeLoader.tsx
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/board/+components/Crown.svg
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Star.svg
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/page.tsx
  src/app/[locale]/advent/layout.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameStatus.tsx
  src/app/api/advent/route.ts
  src/app/api/advent/sync/route.ts
  src/app/globals.css
  src/config/env.d.ts
  src/config/features/Features.ts
  src/config/serverConfig.ts
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/advent/index.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate to stable cache api
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvent.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/wakatime/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate updateTag api
  src/app/api/revalidate/route.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate to proxy
  src/app/api/og/ask/route.tsx
  src/data-layer/supabase/SupabaseProvider.tsx
  src/proxy.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

cleanup
  knip.json
  src/components/DatoNode.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/components/SEO.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate supabase
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/supabase/createBrowserSupabaseClient.tsx
  src/data-layer/supabase/signIn.ts
  src/data-layer/supabase/useSignIn.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

change og runtime to node
  src/app/api/og/ask/route.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /days
  src/app/(wakatime)/day/layout.tsx
  src/app/(wakatime)/day/loading.tsx
  src/app/(wakatime)/day/page.tsx
  src/components/FocusItemList/FocusItemListSkeleton.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /mob
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/+components/Event/EventPageSkeleton.tsx
  src/app/[locale]/mob/loading.tsx
  src/app/loading.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /wus
  src/app/[locale]/wus/loading.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /hsl
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /events
  src/app/[locale]/events/+components/EventCard.tsx
  src/app/[locale]/events/+components/EventList.tsx
  src/app/[locale]/events/loading.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/loading.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /wakatime
  src/app/(wakatime)/day/loading.tsx
  src/app/[locale]/+components/Event/EventPageSkeleton.tsx
  src/app/[locale]/events/+components/EventCard.tsx
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/[locale]/wakatime/layout.tsx
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /blogs
  src/app/[locale]/blogs/+components/BlogItem.tsx
  src/app/[locale]/blogs/loading.tsx
  src/app/[locale]/blogs/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /events/slug
  src/app/[locale]/events/+components/EventCardDescription.tsx
  src/app/[locale]/events/[slug]/loading.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add next-intl workaround
  src/app/loading.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for event modal
  src/app/[locale]/events/@modal/(..)events/[slug]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade dev deps
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/hsl/+logic/colorBlocks.ts
  src/app/[locale]/hsl/+logic/questionGenerator.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade tailwind
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

upgrade next-intl
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

upgrade deps
  package.json
  pnpm-lock.yaml
  src/data-layer/supabase/models/Database.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0
