Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "cspell --no-must-find-files"]
}

refactor components
  src/app/[locale]/+components/PageHeader.tsx
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/ask/+components/Example.tsx
  src/app/[locale]/ask/page.tsx
  src/components/CopyLinkButton.tsx
  src/components/FocusItemList/FocusStep.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update layout space
  src/app/[locale]/+components/Hero.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new ask design
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/(content)/ask/asks.ts
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/ask/+components/CopyLinkButton.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/ask/page.tsx
  src/app/api/og/ask/route.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add icons
  src/components/Icons/Check.svg
  src/components/Icons/Copy.svg
Due: none

make selected item standout
  src/app/[locale]/ask/+components/AskStep.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update copies
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

redesign rules
  messages/en.json
  messages/fa.json
  src/app/[locale]/(content)/rules/page.tsx
  src/app/[locale]/rules/guidelines.ts
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/rules/rules.ts
  src/components/CopyLinkButton.tsx
  src/components/FocusItemList/FocusItem.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/FocusItemList/FocusItemListSkeleton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix hsl block size on mobile
  src/app/[locale]/(content)/hsl/+components/ColorBlocks.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update graphql codegen to v17
  package.json
  pnpm-lock.yaml
  src/data-layer/datocms/DatoCMS.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update supabase
  package.json
  pnpm-lock.yaml
  src/data-layer/supabase/updateSession.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update typescript to v6
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

update linter and formatter
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

update radix-ui
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(content)/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/(content)/events/page.tsx
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/components/Button.tsx
  src/components/Link.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update supabase
  package.json
  pnpm-lock.yaml
  supabase/config.toml
Due: prettier --write, cspell --no-must-find-files

update runtime dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

improve mobile layout
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/components/CopyLinkButton.tsx
  src/components/FocusItemList/FocusStep.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate to oxlint
  apollo.config.js
  eslint.config.mjs
  next.config.ts
  oxlint.config.mts
  package.json
  pnpm-lock.yaml
  src/app/[locale]/(content)/events/+components/EventCardAction.tsx
  src/app/[locale]/(content)/events/+components/EventCardDescription.tsx
  src/app/[locale]/(content)/events/+components/EventCardTitle.tsx
  src/app/[locale]/(content)/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/(content)/events/@modal/(..)events/[slug]/page.tsx
  src/app/[locale]/(content)/events/[slug]/page.tsx
  src/app/[locale]/(content)/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/(content)/hsl/atoms.ts
  src/app/[locale]/(content)/type/TypeContent.tsx
  src/app/[locale]/(content)/type/atoms.ts
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/error.tsx
  src/app/api/auth/confirm/route.ts
  src/app/api/og/ask/route.tsx
  src/app/api/revalidate/route.ts
  src/components/C2AButton.tsx
  src/components/CopyLinkButton.tsx
  src/components/FocusItemList/FocusContext.ts
  src/components/SEO/JsonLd.tsx
  src/components/Skeleton.tsx
  src/config/clientConfig.ts
  src/config/serverConfig.ts
  src/data-layer/datocms/getEvent.ts
  src/data-layer/datocms/getEvents.ts
  src/data-layer/github/getContributors.ts
  src/data-layer/supabase/createServerSupabaseClient.tsx
  src/data-layer/supabase/updateSession.ts
  src/data-layer/wakatime/getReport.tsx
  src/i18n/request.tsx
  src/proxy.ts
  src/utils/cn.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add file a
  file-a
Due: none

feat: add @fullstacksjs/oxlint-config to Projects page
  src/app/[locale]/(content)/projects/+components/OxlintConfig.svg
  src/app/[locale]/(content)/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix footer layout
  src/app/[locale]/+components/landing/Footer.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add copyable text
  messages/en.json
  messages/fa.json
  src/app/globals.css
  src/components/CopyableText.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add wakatime request description
  messages/en.json
  messages/fa.json
  src/app/[locale]/wakatime/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

docs: update oxlint-config description
  src/app/[locale]/(content)/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0
