Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

Add projects route to navLink in header
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

Add the project page to the routes
  messages/en.json
  messages/fa.json
  public/projects/1.png
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/projects/+components/ForwardIcon.svg
  src/app/[locale]/projects/+components/Project.tsx
  src/app/[locale]/projects/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

Convert project/route images to svg
  messages/fa.json
  public/projects/Configs.png
  public/projects/Eslint.png
  public/projects/ToolBox.png
  src/app/[locale]/projects/+components/Config.tsx
  src/app/[locale]/projects/+components/Eslint.tsx
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ToolBox.tsx
  src/app/[locale]/projects/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor project page
  package.json
  pnpm-lock.yaml
  src/app/[locale]/projects/+components/Config.svg
  src/app/[locale]/projects/+components/Config.tsx
  src/app/[locale]/projects/+components/Eslint.svg
  src/app/[locale]/projects/+components/Eslint.tsx
  src/app/[locale]/projects/+components/ForwardIcon.svg
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ToolBox.svg
  src/app/[locale]/projects/+components/ToolBox.tsx
  src/app/[locale]/projects/page.tsx
  src/app/globals.css
  src/config/features/Features.ts
  svgo.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor generatePageOG
  src/app/[locale]/events/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/projects/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/wakatime/+components/Diff.tsx
  src/app/[locale]/wakatime/page.tsx
  src/components/SEO.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve nav group
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add feature guard for projects
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add container support for wide screens
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/globals.css
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add 2 other projects
  configs/words.txt
  src/app/[locale]/projects/+components/NCLU.svg
  src/app/[locale]/projects/+components/YDKHTML.svg
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve font-size in small devices
  src/app/[locale]/projects/+components/ProjectCard.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve layout in small devices
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update nclu logo
  src/app/[locale]/projects/+components/NCLU.svg
Due: none

fix nclu logo size
  src/app/[locale]/projects/+components/NCLU.svg
Due: none

add GitHub, NPM, and Home links to Project page
  src/app/[locale]/projects/+components/ForwardIcon.svg
  src/app/[locale]/projects/+components/GitHub.svg
  src/app/[locale]/projects/+components/HomePage.svg
  src/app/[locale]/projects/+components/Npm.svg
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ResourceLink.tsx
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: remove ESLint warnings
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ResourceLink.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: replace title prop with children
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ResourceLink.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update socials
  src/app/[locale]/+components/JoinButton.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

revert "update socials"
  src/app/[locale]/+components/JoinButton.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix(event): fix event dialog layout
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

feat: add ydkhtml migration
  supabase/migrations/20250405204216_ydkhtml.sql
Due: none

fix: upgrade next version
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix: fix event dialog layout issue
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: fix event dialog mobile responsive
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

feat(projects): add docUrl to YDKHTML
  src/app/[locale]/projects/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

feat: add HSL color game with basic UI and logic
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/GameStatus.tsx
  src/app/[locale]/hsl/generateColorQuestions.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/hsl/useColorGame.ts
  src/config/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

git commit -m "Refactor: migrated HSL game logic to useReducer for better state management"
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/colorGameReducer.ts
  src/app/[locale]/hsl/generateColorQuestions.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/hsl/useColorGame.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

feat(hsl-game): update game logic and center UI elements
  package.json
  pnpm-lock.yaml
  public/audio/win.wav
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/Confetti.tsx
  src/app/[locale]/hsl/+components/GameStatus.tsx
  src/app/[locale]/hsl/colorGameReducer.ts
  src/app/[locale]/hsl/generateColorQuestions.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/hsl/useColorGame.ts
  src/app/[locale]/type/+components/Retry.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/atoms.ts
  src/components/Audio.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add 'autorun' to cspell words
  configs/words.txt
  src/app/[locale]/hsl/+components/Confetti.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

Added TelegramShareButton to the HSL game for sharing scores
  messages/en.json
  messages/fa.json
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add telegram share button to the HSL game
  messages/en.json
  messages/fa.json
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update pnpm
  .cspell.json
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell --no-must-find-files

style: add cursor pointer to try again/reset button
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

style(button): move cursor-pointer to shared Button component
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/components/Button.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
