Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx,astro}": ["eslint --fix", "cspell --no-must-find-files"]
}

build error file
  src/app/[locale]/error.tsx
Due: cspell --no-must-find-files, eslint --fix

fix og image for wakatime
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix

add wakatime config
  .env.example
  src/config/serverConfig.ts
  src/data-layer/getReport.tsx
  src/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

fix: a word in persian translate
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

decrease image ttl
  next.config.js
Due: none

extract cspell words
  .cspell.json
  .eslintrc.js
  configs/words.txt
Due: prettier --write, cspell --no-must-find-files

implement supabase auth
  .env.example
  package-lock.json
  package.json
  scripts/supabase-codegen
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/components/ProfileButton.tsx
  src/app/[locale]/layout.tsx
  src/app/api/auth/callback/route.ts
  src/app/api/auth/sign-out/route.ts
  src/config/clientConfig.ts
  src/env.d.ts
  src/middleware.ts
  src/supabase/Database.ts
  src/supabase/Profile.ts
  src/supabase/SupabaseProvider.tsx
  src/supabase/SupabaseServer.tsx
  src/supabase/useSignIn.ts
  src/supabase/useSignOut.ts
  src/supabase/useUser.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix auth
  src/app/api/auth/sign-out/route.ts
  src/supabase/SupabaseServer.tsx
  src/supabase/User.ts
  src/supabase/useCurrentUser.ts
  src/supabase/useSignIn.ts
  src/supabase/useSignOut.ts
Due: cspell --no-must-find-files, eslint --fix

migrate to supabase
  configs/words.txt
  messages/en.json
  messages/fa.json
  next.config.js
  package-lock.json
  package.json
  scripts/supabase-codegen
  src/app/[locale]/error.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/guild/_components/Button.module.css
  src/app/[locale]/guild/_components/NeedToLogin.tsx
  src/app/[locale]/guild/_components/SpaceButton.tsx
  src/app/[locale]/guild/_components/SubscribeButton.tsx
  src/app/[locale]/guild/_components/Subscription.tsx
  src/app/[locale]/guild/_components/Unsubscribe.tsx
  src/app/[locale]/guild/page.tsx
  src/app/globals.css
  src/components/Loading.tsx
  src/components/Stars.tsx
  src/hooks/useServerActions.ts
  src/supabase/Database.ts
  src/supabase/SupabaseServer.tsx
  src/supabase/subscribe.ts
  src/supabase/unsubscribe.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix lint issues
  .eslintignore
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/data-layer/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix

remove firebase
  package-lock.json
  package.json
  src/app/[locale]/guild/_components/NeedToLogin.tsx
  src/firebase/Collections.ts
  src/firebase/FirebaseProvider.tsx
  src/firebase/User.ts
  src/firebase/firebase.ts
  src/firebase/useCurrentUser.ts
  src/firebase/useSignIn.ts
  src/firebase/useSubscribeGuild.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove firebase config
  postcss.config.js
  src/config/clientConfig.ts
  src/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

improve wakatime title in wide screens
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix

improve null safety
  src/app/[locale]/guild/GuildContent.tsx
  src/supabase/Database.ts
  src/supabase/SupabaseServer.tsx
  src/supabase/subscribe.ts
  src/supabase/unsubscribe.ts
Due: cspell --no-must-find-files, eslint --fix

add husky and lint-staged
  .lintstagedrc.json
  configs/husky/commit-msg
  configs/husky/pre-commit
  configs/husky/pre-push
  package-lock.json
  package.json
  scripts/prepare
Due: prettier --write, cspell --no-must-find-files

fix build issue
  configs/husky/pre-push
  src/app/[locale]/components/Banner.tsx
Due: cspell --no-must-find-files, eslint --fix

add local supabase
  .cspell.json
  package-lock.json
  package.json
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/20230826142557_remote_schema.sql
  supabase/seed.sql
Due: prettier --write, cspell --no-must-find-files

add auth trigger script
  src/app/[locale]/guild/GuildContent.tsx
  supabase/seed.sql
Due: cspell --no-must-find-files, eslint --fix

refactor icons
  src/app.d.ts
  src/cn.ts
  src/components/Icons/Discord.svg
  src/components/Icons/Github.svg
  src/components/Icons/Telegram.svg
  src/components/Icons/Twitch.svg
  src/components/Icons/Twitter.svg
  src/components/Icons/Youtube.svg
  src/components/Socials.tsx
  src/config/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

add type game
  configs/words.txt
  next.config.js
  package-lock.json
  package.json
  public/audio/backspace.wav
  public/audio/click.wav
  public/audio/restart.wav
  public/audio/wrong.wav
  src/app/[locale]/layout.tsx
  src/app/[locale]/type/+components/Game.tsx
  src/app/[locale]/type/+components/Letter.tsx
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/+components/Retry.tsx
  src/app/[locale]/type/+components/Timer.tsx
  src/app/[locale]/type/alphabet.ts
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/type/audio.tsx
  src/app/[locale]/type/page.tsx
  src/data-layer/wakatime/getReport.tsx
  src/store/JotaiProvider.tsx
  src/utils/cn.ts
  src/utils/date.ts
  src/utils/number.ts
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

build og/route.tsx to generate og images
  assets/Rajdhani-Bold.ttf
  assets/Rajdhani-SemiBold.ttf
  src/app/[locale]/ask/og/route.tsx
Due: cspell --no-must-find-files, eslint --fix

add correction functionality
  src/app/[locale]/not-found.tsx
  src/app/[locale]/type/+components/Game.tsx
  src/app/[locale]/type/+components/Letter.tsx
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/type/layout.tsx
  src/app/[locale]/type/page.tsx
  src/config/features/FeatureProvider.tsx
  src/config/features/Features.ts
Due: cspell --no-must-find-files, eslint --fix

finish generate og image for ask route
  src/app/[locale]/ask/page.tsx
  src/app/api/ask-og/route.tsx
  src/components/Rule.tsx
Due: cspell --no-must-find-files, eslint --fix

fix useCurrentUser dependency issue
  src/data-layer/supabase/useCurrentUser.ts
Due: cspell --no-must-find-files, eslint --fix

add deploy supabase workflow
  .github/workflows/supabase.yml
  src/data-layer/supabase/SupabaseServer.tsx
Due: cspell --no-must-find-files, eslint --fix

add logo
  public/image/logo.svg
Due: none

build og/route.tsx to generate og images
  src/app/[locale]/ask/og/route.tsx
Due: cspell --no-must-find-files, eslint --fix

finish generate og image for ask route
  src/app/[locale]/ask/og/route.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor ask og
  public/image/og-logo.png
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/ask/page.tsx
  src/app/api/ask-og/route.tsx
  src/app/api/og/ask/route.tsx
  src/components/SEO.tsx
Due: cspell --no-must-find-files, eslint --fix

fix linter warning
  src/components/SEO.tsx
Due: cspell --no-must-find-files, eslint --fix

remove localhost
  src/app/api/og/ask/route.tsx
Due: cspell --no-must-find-files, eslint --fix

add records table to database
  src/data-layer/supabase/Database.ts
  supabase/migrations/20230909093712_records.sql
Due: cspell --no-must-find-files, eslint --fix

add type page api
  src/app/[locale]/type/+components/Timer.tsx
  src/app/[locale]/type/atoms.ts
Due: cspell --no-must-find-files, eslint --fix

fix record saving issue
  src/app/[locale]/type/+components/Timer.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor Timer
  src/app/[locale]/type/+components/Result.tsx
  src/app/[locale]/type/+components/Timer.tsx
Due: cspell --no-must-find-files, eslint --fix

migrate to pnpm
  .cspell.json
  configs/husky/commit-msg
  configs/husky/pre-commit
  configs/husky/pre-push
  package-lock.json
  package.json
  pnpm-lock.yaml
  scripts/prepare
  scripts/supabase-codegen
Due: prettier --write, cspell --no-must-find-files

improve rule select UX
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/components/Rule.tsx
  src/components/RuleSet.tsx
Due: cspell --no-must-find-files, eslint --fix
