Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx,astro}": ["eslint --fix", "cspell --no-must-find-files"]
}

add svg url type
  src/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

refactor auth
  src/app/[locale]/components/AuhProviders.tsx
  src/app/[locale]/components/AuthButtonSkeleton.tsx
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/components/Nav.module.css
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/components/ProfileButton.tsx
  src/app/[locale]/components/SEO.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/Authentication.tsx
  src/components/ProfileButton.tsx
  src/features/index.ts
  src/hooks/useDirection.ts
Due: cspell --no-must-find-files, eslint --fix

add auth translation
  messages/en.json
  messages/fa.json
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/layout.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update linter
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix socials layout
  src/app/[locale]/components/Logo.tsx
  src/app/[locale]/components/Nav.tsx
  src/components/SectionHeader.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix

remove .vscode
  .vscode/settings.json
Due: prettier --write, cspell --no-must-find-files

make rules 3 state
  messages/fa.json
  src/app/[locale]/ask/AskContent.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/RulesContent.tsx
  src/app/[locale]/rules/page.tsx
  src/components/Article.tsx
  src/components/Articles.tsx
  src/components/Paragraph.tsx
  src/components/Rule.tsx
  src/components/RuleSet.tsx
  src/hooks/useRuleTarget.ts
  src/i18n.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add Analytics
  src/app/[locale]/components/GoogleAnalytics.tsx
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

lint code
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/components/GoogleAnalytics.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/rules/page.tsx
  src/components/Rule.tsx
  src/hooks/useRuleTarget.ts
  src/i18n.ts
Due: cspell --no-must-find-files, eslint --fix

fix build error
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix build error
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

add examples
  .env.example
Due: none

add Astronaut
  src/app/components/Astronaut.svg
Due: none

integrate with dato
  .cspell.json
  .graphqlrc.yml
  configs/pascalCaseWithUnderscores.cjs
  package-lock.json
  package.json
  public/locales/en.json
  public/locales/fa.json
  src/components/EventCard.astro
  src/components/EventsList.astro
  src/components/Head.astro
  src/components/Hero.astro
  src/components/Icons/GithubOutlineIcon.tsx
  src/components/JoinButton.astro
  src/components/Locales.astro
  src/components/LoginBtn.tsx
  src/components/Nav.astro
  src/components/Navs.astro
  src/components/SectionHeader.astro
  src/data-layer/__generated__.ts
  src/data-layer/client.ts
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
  src/env.d.ts
  src/libs/config.ts
  src/pages/events.astro
  src/pages/fa/events.astro
  src/pages/fa/rules.astro
  src/pages/rules.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add missing env example
  .env.example
Due: none

update readme
  .cspell.json
  CAMP.md
  README-fa.md
  README.md
  assets/camp.png
  assets/footer.png
  assets/footer.webp
  assets/header.png
  assets/header.webp
  assets/logo.svg
Due: prettier --write, cspell --no-must-find-files

refactor event page
  .cspell.json
  .graphqlrc.yml
  package-lock.json
  package.json
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
  src/data-layer/__generated__.ts
  src/data-layer/datoClient.ts
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix subscriber text
  messages/en.json
  messages/fa.json
  package-lock.json
  package.json
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/page.tsx
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

improve events
  .gitignore
  apollo.config.js
  messages/en.json
  package-lock.json
  package.json
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/data-layer/__generated__.ts
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

refactor button
  package-lock.json
  package.json
  src/app/[locale]/components/JoinButton.tsx
  src/app/[locale]/events/EventCard.tsx
  src/components/Button.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix grid layout
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/app/[locale]/events/EventList.tsx
Due: cspell --no-must-find-files, eslint --fix

refactor date format
  src/app/[locale]/events/EventCard.tsx
Due: cspell --no-must-find-files, eslint --fix

fix locales in production
  package-lock.json
  package.json
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/rules/page.tsx
  src/app/not-found.tsx
  src/i18n.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

make banner responsive
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/layout.tsx
Due: cspell --no-must-find-files, eslint --fix

add missing persian key
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

add mobile nav
  package-lock.json
  package.json
  src/app/[locale]/components/AuhProviders.tsx
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/Logo.tsx
  src/app/[locale]/components/Menu.svg
  src/app/[locale]/components/Menu.tsx
  src/app/[locale]/components/MobileNavs.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/globals.css
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add locale select
  package-lock.json
  package.json
  src/app/[locale]/components/ChevronDown.svg
  src/app/[locale]/components/EN.svg
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/IR.svg
  src/app/[locale]/components/LocaleSelect.tsx
  src/components/SecondaryButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix locale links
  src/app/[locale]/components/LocaleSelect.tsx
  src/app/[locale]/components/Nav.tsx
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix

redesign event cards
  messages/en.json
  messages/fa.json
  package-lock.json
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/app/[locale]/events/LecturerStack.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/data-layer/getEvents.ts
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix video order
  src/app/[locale]/events/EventCard.tsx
  src/data-layer/getEvents.ts
Due: cspell --no-must-find-files, eslint --fix

move banner to index
  messages/fa.json
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix mobile menu direction
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/MobileNavs.tsx
Due: cspell --no-must-find-files, eslint --fix

improve mobile header
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LocaleSelect.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/components/SecondaryButton.tsx
Due: cspell --no-must-find-files, eslint --fix

add metadataPath
  src/app/[locale]/components/SEO.tsx
  src/app/[locale]/layout.tsx
  src/config/serverConfig.ts
  src/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

migrate from next-auth to firebase
  .env.example
  package-lock.json
  package.json
  src/app/[locale]/components/AuhProviders.tsx
  src/app/[locale]/components/AuthButtonSkeleton.tsx
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/components/MobileNavs.tsx
  src/app/[locale]/components/ProfileButton.tsx
  src/app/[locale]/components/SEO.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/config/clientConfig.ts
  src/config/serverConfig.ts
  src/env.d.ts
  src/firebase/firebase.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

improve login ux
  package-lock.json
  package.json
  src/app/[locale]/components/Authentication.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

refactor components
  src/app/[locale]/components/GoogleAnalytics.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/layout.tsx
  src/components/SEO.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix

add wakatime page
  .cspell.json
  next.config.js
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/app/wakatime/Avatar.tsx
  src/app/wakatime/Crown.svg
  src/app/wakatime/Diff.tsx
  src/app/wakatime/Logo.svg
  src/app/wakatime/User.tsx
  src/app/wakatime/Winner.tsx
  src/app/wakatime/layout.tsx
  src/app/wakatime/page.tsx
  src/app/wakatime/ranks/2down.svg
  src/app/wakatime/ranks/2up.svg
  src/app/wakatime/ranks/down.svg
  src/app/wakatime/ranks/up.svg
  src/app/wakatime/ranks/zero.svg
  src/data-layer/domain.ts
  src/data-layer/getReport.tsx
  src/middleware.ts
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove wrong exports
  src/app/[locale]/layout.tsx
  src/app/wakatime/layout.tsx
Due: cspell --no-must-find-files, eslint --fix
