Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx,astro}": ["eslint --fix", "cspell --no-must-find-files"]
}

make measurementId optional
  src/config/clientConfig.ts
Due: cspell --no-must-find-files, eslint --fix

add nav badge
  messages/en.json
  src/app/[locale]/components/Badge.tsx
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/components/Navs.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add guild
  messages/en.json
  messages/fa.json
  next.config.js
  package-lock.json
  package.json
  public/image/guild.png
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/guild/page.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
  src/components/Emoji.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix wakatime cache
  src/data-layer/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix

fix minute calculation
  .vscode/extensions.json
  src/app/wakatime/+components/Avatar.tsx
  src/app/wakatime/+components/Crown.svg
  src/app/wakatime/+components/Diff.tsx
  src/app/wakatime/+components/Logo.svg
  src/app/wakatime/+components/User.tsx
  src/app/wakatime/+components/Winner.tsx
  src/app/wakatime/+components/ranks/2down.svg
  src/app/wakatime/+components/ranks/2up.svg
  src/app/wakatime/+components/ranks/down.svg
  src/app/wakatime/+components/ranks/up.svg
  src/app/wakatime/+components/ranks/zero.svg
  src/app/wakatime/page.tsx
  src/data-layer/getReport.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

make wakatime responsive
  .cspell.json
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/wakatime/+components/Avatar.tsx
  src/app/[locale]/wakatime/+components/Crown.svg
  src/app/[locale]/wakatime/+components/Diff.tsx
  src/app/[locale]/wakatime/+components/Logo.svg
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/[locale]/wakatime/+components/Winner.tsx
  src/app/[locale]/wakatime/+components/ranks/2down.svg
  src/app/[locale]/wakatime/+components/ranks/2up.svg
  src/app/[locale]/wakatime/+components/ranks/down.svg
  src/app/[locale]/wakatime/+components/ranks/up.svg
  src/app/[locale]/wakatime/+components/ranks/zero.svg
  src/app/[locale]/wakatime/page.tsx
  src/app/globals.css
  src/app/wakatime/+components/Diff.tsx
  src/app/wakatime/+components/User.tsx
  src/app/wakatime/+components/Winner.tsx
  src/app/wakatime/layout.tsx
  src/app/wakatime/page.tsx
  src/components/Emoji.tsx
  src/components/Table.tsx
  svgo.config.js
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

create day page
  src/app/day/Logo.svg
  src/app/day/layout.tsx
  src/app/day/page.tsx
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix

fix wakatime table issue
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/day/page.tsx
Due: cspell --no-must-find-files, eslint --fix

add social media
  src/app/day/page.tsx
Due: cspell --no-must-find-files, eslint --fix

add guild feature
  src/app/[locale]/components/Navs.tsx
  src/features/Features.ts
Due: cspell --no-must-find-files, eslint --fix

add join leaderboard button
  messages/en.json
  messages/fa.json
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
  src/app/[locale]/wakatime/page.tsx
  src/features/Features.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

make wakatime page i18n
  .cspell.json
  messages/en.json
  messages/fa.json
  src/app/[locale]/components/Banner.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/data-layer/getReport.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix build error
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix build error
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/page.tsx
  src/app/day/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix redundant chars
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix Banner text align
  src/app/[locale]/components/Banner.tsx
Due: cspell --no-must-find-files, eslint --fix

fix guild button issue
  .cspell.json
  src/app/[locale]/guild/GuildContent.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

migrate to reactfire
  .cspell.json
  package-lock.json
  package.json
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/components/ProfileButton.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/layout.tsx
  src/firebase/Collections.ts
  src/firebase/FirebaseProvider.tsx
  src/firebase/User.ts
  src/firebase/firebase.ts
  src/firebase/useCurrentUser.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

implement subscription logic
  src/app/[locale]/components/Authentication.tsx
  src/app/[locale]/guild/GuildContent.tsx
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/components/Emoji.tsx
  src/firebase/User.ts
  src/firebase/firebase.ts
  src/firebase/useSignIn.ts
  src/firebase/useSubscribeGuild.ts
Due: cspell --no-must-find-files, eslint --fix

add guild og
  public/avatar.png
  public/cardBG.PNG
  public/og/guild.png
  public/og/og.png
  src/app/[locale]/guild/page.tsx
  src/components/SEO.tsx
Due: cspell --no-must-find-files, eslint --fix

decrease revalidate to 1 hour
  src/data-layer/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix

disable wakatime cache
  src/data-layer/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix

add legacy-peer-deps
  .npmrc
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

add graphql
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix linter issue
  src/app/[locale]/guild/page.tsx
Due: cspell --no-must-find-files, eslint --fix

create unique title and description for every page
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/guild/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/components/SEO.tsx
Due: cspell --no-must-find-files, eslint --fix

remove trailing space
  src/app/[locale]/events/page.tsx
Due: cspell --no-must-find-files, eslint --fix

fix og image for wakatime
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix

WIP
  .graphqlrc.yml
  apollo.config.cjs
  package-lock.json
  package.json
  src/components/EventCard.astro
  src/components/EventCard.tsx
  src/components/EventsList.astro
  src/data-layer/__generated__.ts
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

build error file
  src/app/[locale]/error.tsx
Due: cspell --no-must-find-files, eslint --fix

fix: a word in persian translate
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

fix: a word in persian translate
  public/locales/fa.json
Due: prettier --write, cspell --no-must-find-files

fix layout issue
  messages/fa.json
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LoginButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix nav mobile badge
  src/app/[locale]/components/Nav.tsx
Due: cspell --no-must-find-files, eslint --fix
