Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

remove old footer
  assets/footer.webp
Due: none

remove guild assets
  public/image/guild.png
  public/og/guild.png
Due: none

abstract events
  src/app/(links)/mob/calendar/route.ts
  src/app/(links)/mob/live/route.ts
  src/app/(links)/stage/calendar/route.ts
  src/app/(links)/stage/live/route.ts
  src/app/(links)/wus/calendar/route.ts
  src/app/(links)/wus/live/route.ts
  src/app/[locale]/mob/page.tsx
  src/app/[locale]/wus/page.tsx
  src/data-layer/datocms/MobReview.tsx
  src/data-layer/datocms/Stage.ts
  src/data-layer/datocms/WhatsUp.tsx
  src/data-layer/datocms/getLiveEvent.ts
  src/data-layer/datocms/getMobEvent.ts
  src/data-layer/datocms/getStageEvent.ts
  src/data-layer/datocms/getWusEvent.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add missing env
  .env.example
  src/config/env.d.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove redundant feature
  src/config/features/Features.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove react-use
  package.json
  pnpm-lock.yaml
  src/components/FocusItemList/FocusProvider.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

sync lock
  pnpm-lock.yaml
Due: cspell --no-must-find-files

migrate hsl to jotai
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+reducer/actions.ts
  src/app/[locale]/hsl/+reducer/colorGameReducer.ts
  src/app/[locale]/hsl/+reducer/createInitialState.ts
  src/app/[locale]/hsl/+reducer/handleCorrectAnswer.ts
  src/app/[locale]/hsl/+reducer/handleTryAgain.ts
  src/app/[locale]/hsl/+reducer/handleWrongAnswer.ts
  src/app/[locale]/hsl/atoms.ts
  src/app/[locale]/hsl/useColorGame.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

enable swc-jotai/react-refresh
  next.config.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

refactor atoms using fable
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/atoms.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/type/+components/Timer.tsx
  src/app/[locale]/type/atoms.ts
  src/app/[locale]/type/useTimeEllipses.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove hard coded size from icons
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/components/Icons/ChevronDown.svg
  src/components/Icons/Discord.svg
  src/components/Icons/Github.svg
  src/components/Icons/Telegram.svg
  src/components/Icons/Twitch.svg
  src/components/Icons/Twitter.svg
  src/components/Icons/Youtube.svg
  src/components/Link.tsx
  src/components/Socials.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate the landing page to the new design
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Contributors/ContributorList.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/Hero.tsx
  src/app/[locale]/+components/JoinButton.tsx
  src/app/[locale]/+components/landing/DocSection.tsx
  src/app/[locale]/+components/landing/LandingFooter.tsx
  src/app/[locale]/+components/landing/icons.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/C2AButton.tsx
  src/components/Icons/Twitter.svg
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update next.js and react
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell --no-must-find-files

fix lint errors
  src/app/[locale]/(content)/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Menu.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update tailwind dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

update eslint config
  package.json
  pnpm-lock.yaml
  src/app/(wakatime)/day/layout.tsx
  src/app/[locale]/(content)/ask/page.tsx
  src/app/[locale]/(content)/blogs/[slug]/page.tsx
  src/app/[locale]/(content)/blogs/page.tsx
  src/app/[locale]/(content)/events/[slug]/page.tsx
  src/app/[locale]/(content)/events/layout.tsx
  src/app/[locale]/(content)/events/page.tsx
  src/app/[locale]/(content)/hsl/page.tsx
  src/app/[locale]/(content)/mob/page.tsx
  src/app/[locale]/(content)/projects/page.tsx
  src/app/[locale]/(content)/rules/page.tsx
  src/app/[locale]/(content)/type/layout.tsx
  src/app/[locale]/(content)/type/useTimeEllipses.ts
  src/app/[locale]/(content)/wakatime/layout.tsx
  src/app/[locale]/(content)/wakatime/page.tsx
  src/app/[locale]/(content)/wus/page.tsx
  src/app/[locale]/layout.tsx
  src/components/Emoji.tsx
  src/components/FocusItemList/FocusContext.ts
  src/components/FocusItemList/FocusItem.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/components/SEO/JsonLd.tsx
  src/components/SEO/meta.ts
  src/data-layer/supabase/SupabaseProvider.tsx
  src/i18n/i18nComponents.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix nav link
  src/app/[locale]/+components/Navigation/NavLink.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add monospace font
  src/app/[locale]/+components/landing/DocSection.tsx
  src/app/[locale]/+components/landing/Footer.tsx
  src/app/[locale]/layout.tsx
  src/app/globals.css
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix type game ux
  messages/en.json
  messages/fa.json
  src/app/[locale]/(content)/type/+components/Game.tsx
  src/app/[locale]/(content)/type/+components/Letter.tsx
  src/app/[locale]/(content)/type/+components/Refresh.svg
  src/app/[locale]/(content)/type/+components/Result.tsx
  src/app/[locale]/(content)/type/+components/Retry.tsx
  src/app/[locale]/(content)/type/+components/Timer.tsx
  src/app/[locale]/(content)/type/layout.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/IconButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new desktop nav design
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/DesktopNavs.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/globals.css
  src/app/loading.tsx
  src/components/Button.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add nav transition
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/globals.css
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new mobile nav design
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new header actions design
  src/app/[locale]/+components/Auth/AuthButtonSkeleton.tsx
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/BaseAuthButton.tsx
  src/app/[locale]/+components/Auth/GithubIcon.asset.svg
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/+components/EN.svg
  src/app/[locale]/+components/Globe.svg
  src/app/[locale]/+components/IR.svg
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/SecondaryButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
