Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

add spell script
  scripts/spell
Due: none

change pre-push hook
  configs/husky/pre-push
Due: none

add google analytics
  .cspell.json
  package-lock.json
  package.json
  src/env.d.ts
  src/layouts/Layout.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add google tag manager
  .cspell.json
  src/env.d.ts
  src/layouts/Layout.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix build error
  src/layouts/Layout.astro
Due: cspell --no-must-find-files, eslint --fix

fix gtm error
  src/layouts/Layout.astro
Due: cspell --no-must-find-files, eslint --fix

add scroll margin to rules
  src/components/Rule.astro
Due: cspell --no-must-find-files, eslint --fix

enable pre-render for index and rule pages
  package-lock.json
  package.json
  src/pages/index.astro
  src/pages/rules.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add react plugin
  astro.config.mjs
  package.json
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

add react plugin
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

add eslint tailwind plugin
  .eslintrc.cjs
Due: none

add env variables
  .env.example
  package.json
  src/libs/auth.ts
  src/libs/config.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add env variables
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

fix linter
  .eslintrc.cjs
  src/components/Article.astro
  src/components/Button.astro
  src/components/EventActionsBtn.astro
  src/components/Guide.astro
Due: cspell --no-must-find-files, eslint --fix

add LoginButton
  src/components/LoginButton.tsx
Due: cspell --no-must-find-files, eslint --fix

add spell and verify code script
  .cspell.json
  package-lock.json
  package.json
  public/locales/fa.json
  src/components/EventCard.astro
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Locales.astro
  src/components/Nav.astro
  src/components/Navs.astro
  src/components/Rule.astro
  src/components/Separator.astro
  src/components/SeparatorLine.astro
  src/components/SeperatorLine.astro
  src/components/Social.astro
  src/components/SocialItem.astro
  src/layouts/Layout.astro
  src/pages/events.astro
  src/pages/fa/events.astro
  src/pages/rules.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

complete LoginButton
  src/components/Header.astro
  src/components/Icons/GithubOutlineIcon..tsx
  src/components/Icons/LogoutIcon.tsx
  src/components/Locales.astro
  src/components/LoginButton.tsx
  src/components/Skeletons/LoginBtnSkeleton.tsx
  src/layouts/Layout.astro
  src/libs/auth.ts
  tailwind.config.cjs
Due: cspell --no-must-find-files, eslint --fix

fix lint errors and refactor arbitrary colors
  src/components/LoginButton.tsx
  src/components/Skeletons/LoginBtnSkeleton.tsx
  tailwind.config.cjs
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix naming convention
  .eslintrc.cjs
  package.json
  src/components/Header.astro
  src/components/Icons/GithubOutlineIcon..tsx
  src/components/Icons/LogoutIcon.tsx
  tsconfig.eslint.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

remove unnecessary config
  .eslintrc.cjs
Due: none

update package-lock
  package-lock.json
Due: prettier --write, cspell --no-must-find-files

develope new design of authentication btn and fix duplications
  src/components/AuthButtonsWrapper.tsx
  src/components/Authentication.tsx
  src/components/Header.astro
  src/components/Icons/LogoutIcon.tsx
  src/components/LoginBtn.tsx
  src/components/LoginButton.tsx
  src/components/ProfileBtn.tsx
  src/components/Rule.astro
  src/components/Skeletons/AuthBtnSkeleton.tsx
  src/components/Skeletons/LoginBtnSkeleton.tsx
  src/custom hooks/useDeviceSize.tsx
Due: cspell --no-must-find-files, eslint --fix

add analytics config
  .env.example
  package-lock.json
  package.json
  src/layouts/Layout.astro
  src/libs/config.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix prettier issue
  package-lock.json
  package.json
  src/layouts/Layout.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

move container to global
  .cspell.json
  package-lock.json
  src/styles/global.css
  tailwind.config.cjs
Due: prettier --write, cspell --no-must-find-files

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx,astro})
  eslint --fix: any of: *.{ts,tsx,astro}
