Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new header actions design
  src/app/[locale]/+components/Auth/AuthButtonSkeleton.tsx
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/BaseAuthButton.tsx
  src/app/[locale]/+components/Auth/GithubIcon.asset.svg
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/+components/EN.svg
  src/app/[locale]/+components/Globe.svg
  src/app/[locale]/+components/IR.svg
  src/app/[locale]/+components/LocaleSelect.tsx
  src/app/globals.css
  src/components/Button.tsx
  src/components/SecondaryButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add nav transition
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/globals.css
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new mobile nav design
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/MobileNavs.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

cleanup
  src/app/[locale]/+components/Contributors/ContributorList.tsx
  src/app/[locale]/+components/landing/icons.tsx
  src/components/SocialItem.tsx
  src/components/Socials.tsx
  src/i18n/direction.ts
  src/i18n/i18nComponents.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve fa font size
  src/app/globals.css
Due: none

improve projects ui
  src/app/[locale]/(content)/projects/+components/GitHub.svg
  src/app/[locale]/(content)/projects/+components/GitHubBot.svg
  src/app/[locale]/(content)/projects/+components/NCLU.svg
  src/app/[locale]/(content)/projects/+components/ProjectCard.tsx
  src/app/[locale]/(content)/projects/+components/ResourceLink.tsx
  src/app/[locale]/(content)/projects/+components/YDKHTML.svg
  src/app/[locale]/(content)/projects/page.tsx
  src/components/Button.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix nav ui remark
  src/app/[locale]/+components/Navigation/NavGroup.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix button size
  src/components/Button.tsx
  src/components/C2AButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve project card in mobile
  src/app/[locale]/(content)/projects/+components/ProjectCard.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve mobile nav size
  src/app/[locale]/(content)/projects/page.tsx
  src/app/[locale]/+components/Menu.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate wakatime to new layout
  src/app/(wakatime)/day/loading.tsx
  src/app/(wakatime)/day/page.tsx
  src/app/[locale]/+components/Banner.tsx
  src/app/[locale]/wakatime/+components/Crown.svg
  src/app/[locale]/wakatime/+components/Diff.tsx
  src/app/[locale]/wakatime/+components/Logo.svg
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
  src/app/[locale]/wakatime/+components/Winner.tsx
  src/app/[locale]/wakatime/+components/ranks/2down.svg
  src/app/[locale]/wakatime/+components/ranks/2up.svg
  src/app/[locale]/wakatime/+components/ranks/down.svg
  src/app/[locale]/wakatime/+components/ranks/up.svg
  src/app/[locale]/wakatime/+components/ranks/zero.svg
  src/app/[locale]/wakatime/layout.tsx
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new wakatime design
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/wakatime/+components/Icons.tsx
  src/app/[locale]/wakatime/+components/Leaderboard.tsx
  src/app/[locale]/wakatime/+components/Podium.tsx
  src/app/[locale]/wakatime/+components/StatStrip.tsx
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/+components/languages.ts
  src/app/[locale]/wakatime/layout.tsx
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
  src/app/globals.css
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

implement the new wakatime design
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/(content)/type/atoms.ts
  src/app/[locale]/+components/Banner.tsx
  src/app/[locale]/wakatime/+components/Diff.tsx
  src/app/[locale]/wakatime/+components/Icons.tsx
  src/app/[locale]/wakatime/+components/Leaderboard.tsx
  src/app/[locale]/wakatime/+components/Member.tsx
  src/app/[locale]/wakatime/+components/Podium.tsx
  src/app/[locale]/wakatime/+components/RankingTable.tsx
  src/app/[locale]/wakatime/+components/SearchInput.tsx
  src/app/[locale]/wakatime/+components/StatStrip.tsx
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/+components/WakatimeButton.tsx
  src/app/[locale]/wakatime/+components/languages.ts
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
  src/app/globals.css
  src/components/Icons/Search.svg
  src/components/Table.tsx
  src/data-layer/wakatime/Wakatime.ts
  src/data-layer/wakatime/getReport.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

implement the new day design
  src/app/(wakatime)/day/layout.tsx
  src/app/(wakatime)/day/loading.tsx
  src/app/(wakatime)/day/page.tsx
  src/app/[locale]/wakatime/+components/UserRow.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/[locale]/wakatime/+components/Winner.tsx
  src/components/Medal.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove orphan i18n keys
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

change day reports to 10
  src/app/(wakatime)/day/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

extract page header
  src/app/[locale]/+components/PageHeader.tsx
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add icons
  src/components/Icons/Check.svg
  src/components/Icons/Copy.svg
Due: none

update layout space
  src/app/[locale]/+components/Hero.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/wakatime/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

implement new ask design
  configs/words.txt
  messages/en.json
  messages/fa.json
  src/app/[locale]/(content)/ask/asks.ts
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/ask/+components/CopyLinkButton.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/ask/page.tsx
  src/app/api/og/ask/route.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix wakatime mobile view
  src/app/[locale]/wakatime/+components/Member.tsx
  src/app/[locale]/wakatime/+components/Podium.tsx
  src/components/Avatar.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

improve accessibility
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/ask/+components/CopyLinkButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

make selected item standout
  src/app/[locale]/ask/+components/AskStep.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor components
  src/app/[locale]/+components/PageHeader.tsx
  src/app/[locale]/ask/+components/AskStep.tsx
  src/app/[locale]/ask/+components/Example.tsx
  src/app/[locale]/ask/page.tsx
  src/components/CopyLinkButton.tsx
  src/components/FocusItemList/FocusStep.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix missing keys
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

fix font size
  messages/fa.json
  src/app/[locale]/+components/PageHeader.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix copies
  configs/words.txt
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

Path conditions:
  prettier --write: any of: *.{json,html}
  cspell --no-must-find-files: ((any of: *.{json,html}) or (any of: *.{md,yaml,yml})) or (any of: *.{ts,tsx})
  eslint --fix --max-warnings 0: any of: *.{ts,tsx}
