Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "cspell --no-must-find-files"]
}

change og runtime to node
  src/app/api/og/ask/route.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /blogs
  src/app/[locale]/blogs/+components/BlogItem.tsx
  src/app/[locale]/blogs/loading.tsx
  src/app/[locale]/blogs/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /wakatime
  src/app/(wakatime)/day/loading.tsx
  src/app/[locale]/+components/Event/EventPageSkeleton.tsx
  src/app/[locale]/events/+components/EventCard.tsx
  src/app/[locale]/wakatime/+components/Title.tsx
  src/app/[locale]/wakatime/+components/UserTable.tsx
  src/app/[locale]/wakatime/layout.tsx
  src/app/[locale]/wakatime/loading.tsx
  src/app/[locale]/wakatime/page.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /hsl
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate to typed routes
  src/app.d.ts
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/events/+components/EventCard.tsx
  src/app/[locale]/events/+components/EventCardAction.tsx
  src/app/[locale]/events/+components/EventCardDescription.tsx
  src/app/[locale]/events/+components/EventCardTitle.tsx
  src/app/[locale]/events/+components/EventList.tsx
  src/app/[locale]/events/+components/LecturerStack.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/EventDialog.tsx
  src/app/[locale]/events/@modal/(..)events/[slug]/page.tsx
  src/app/[locale]/events/[slug]/page.tsx
  src/app/[locale]/events/layout.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/type/layout.tsx
  src/app/[locale]/wus/page.tsx
  src/app/layout.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade tailwind
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

migrate supabase
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/LoginButton.tsx
  src/app/[locale]/+components/Auth/ProfileButton.tsx
  src/app/[locale]/type/+components/NeedToLogin.tsx
  src/data-layer/supabase/SupabaseProvider.tsx
  src/data-layer/supabase/createBrowserSupabaseClient.tsx
  src/data-layer/supabase/signIn.ts
  src/data-layer/supabase/useSignIn.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade dev deps
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/hsl/+logic/colorBlocks.ts
  src/app/[locale]/hsl/+logic/questionGenerator.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate updateTag api
  src/app/api/revalidate/route.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for event modal
  src/app/[locale]/events/@modal/(..)events/[slug]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

migrate svgr to turbopack
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Auth/GithubIcon.asset.svg
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

cleanup
  knip.json
  src/components/DatoNode.tsx
  src/components/FocusItemList/FocusItemList.tsx
  src/components/FocusItemList/FocusProvider.tsx
  src/components/SEO.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add suspense boundary for /days
  src/app/(wakatime)/day/layout.tsx
  src/app/(wakatime)/day/loading.tsx
  src/app/(wakatime)/day/page.tsx
  src/components/FocusItemList/FocusItemListSkeleton.tsx
  src/components/Skeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove advent of code
  .env.example
  messages/en.json
  messages/fa.json
  public/og/advent.png
  scripts/sync-advent
  src/app/(wakatime)/day/advent/page.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/advent/+components/Advent.png
  src/app/[locale]/advent/+components/AdventOfCodeLoader.tsx
  src/app/[locale]/advent/+components/HowToJoin.tsx
  src/app/[locale]/advent/board/+components/Crown.svg
  src/app/[locale]/advent/board/+components/Leaderboard.tsx
  src/app/[locale]/advent/board/+components/Star.svg
  src/app/[locale]/advent/board/+components/Stars.tsx
  src/app/[locale]/advent/board/+components/UserInfo.tsx
  src/app/[locale]/advent/board/+components/UserRow.tsx
  src/app/[locale]/advent/board/page.tsx
  src/app/[locale]/advent/layout.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameStatus.tsx
  src/app/api/advent/route.ts
  src/app/api/advent/sync/route.ts
  src/app/globals.css
  src/config/env.d.ts
  src/config/features/Features.ts
  src/config/serverConfig.ts
  src/data-layer/advent/AdventOfCodeUser.ts
  src/data-layer/advent/getAdventLeaderboard.ts
  src/data-layer/advent/index.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add verify script
  .github/workflows/cli.yaml
  .github/workflows/supabase.yaml
  package.json
Due: prettier --write, cspell --no-must-find-files

fix prepare on windows
  package.json
Due: prettier --write, cspell --no-must-find-files

add linter rule for default export
  eslint.config.mjs
  pnpm-workspace.yaml
  src/app/[locale]/events/+components/EventList.tsx
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameOverStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/InProgressStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/ScoreLine.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/projects/+components/ProjectCard.tsx
  src/app/[locale]/projects/+components/ResourceLink.tsx
  src/app/[locale]/projects/page.tsx
  src/components/SectionHeader.tsx
  src/i18n/request.tsx
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add translations
  messages/en.json
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

add contributors components
  src/app/[locale]/+components/Contributors.tsx
  src/components/Contributor.tsx
  src/components/ContributorsSkeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix formatting issue
  messages/fa.json
Due: prettier --write, cspell --no-must-find-files

fix lint issues
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
  src/components/ContributorsSkeleton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add to page and update env
  .env.example
  src/app/[locale]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

rebase with next b and fix default exports
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix json, generic type, concat
  src/app/[locale]/+components/Contributors/Contributors.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell --no-must-find-files

refactor tags
  src/config/cacheTags.ts
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getEvents.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

remove logs
  src/app/[locale]/blogs/[slug]/page.tsx
  src/data-layer/github/getContributors.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor contributors
  messages/en.json
  messages/fa.json
  src/app/[locale]/+components/Contributors/Contributor.tsx
  src/app/[locale]/+components/Contributors/ContributorList.tsx
  src/app/[locale]/+components/Contributors/Contributors.tsx
  src/app/[locale]/+components/Contributors/ContributorsSkeleton.tsx
  src/app/[locale]/page.tsx
  src/config/cacheTags.ts
  src/config/serverConfig.ts
  src/data-layer/github/fetchFromGitHub.ts
  src/data-layer/github/getContributors.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0
