Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx}": ["eslint --fix --max-warnings 0", "cspell --no-must-find-files"]
}

style: add cursor pointer to try again/reset button
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update pnpm
  .cspell.json
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, cspell --no-must-find-files

feat(hsl-game): update game logic and center UI elements
  package.json
  pnpm-lock.yaml
  public/audio/win.wav
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/Confetti.tsx
  src/app/[locale]/hsl/+components/GameStatus.tsx
  src/app/[locale]/hsl/colorGameReducer.ts
  src/app/[locale]/hsl/generateColorQuestions.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/hsl/useColorGame.ts
  src/app/[locale]/type/+components/Retry.tsx
  src/app/[locale]/type/TypeContent.tsx
  src/app/[locale]/type/atoms.ts
  src/components/Audio.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add telegram share button to the HSL game
  messages/en.json
  messages/fa.json
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

add 'autorun' to cspell words
  configs/words.txt
  src/app/[locale]/hsl/+components/Confetti.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade next-intl
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/+components/Header.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/asks.ts
  src/app/[locale]/events/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/guidelines.ts
  src/app/[locale]/rules/page.tsx
  src/app/[locale]/rules/rules.ts
  src/i18n/locales.ts
  src/i18n/request.tsx
  src/i18n/routing.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix next-intl ssg
  src/app/[locale]/+components/Auth/Authentication.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/advent/board/page.tsx
  src/app/[locale]/advent/page.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/projects/page.tsx
  src/app/[locale]/rules/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

add packageManager field
  package.json
Due: prettier --write, cspell --no-must-find-files

update package lock
  pnpm-lock.yaml
Due: cspell --no-must-find-files

upgrade build deps
  .env.example
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files

change default locale to en
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/i18n/routing.ts
  src/middleware.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade graphql
  package.json
  pnpm-lock.yaml
  src/data-layer/datocms/DatoCMS.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update supabase
  apollo.config.js
  package.json
  pnpm-lock.yaml
  src/app/[locale]/wakatime/+components/Diff.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

update framer
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

fix locale bug
  src/app/[locale]/page.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: optimize useColorGame logic in hsl game
  src/app/[locale]/hsl/useColorGame.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: optimize logic in hsl game
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+logic/colorBlocks.ts
  src/app/[locale]/hsl/+logic/constants.ts
  src/app/[locale]/hsl/+logic/progression.ts
  src/app/[locale]/hsl/+logic/questionGenerator.ts
  src/app/[locale]/hsl/colorGameReducer.ts
  src/app/[locale]/hsl/generateColorQuestions.ts
  src/app/[locale]/hsl/page.tsx
  src/app/[locale]/hsl/useColorGame.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: improve hsl game reducer structure
  src/app/[locale]/hsl/+logic/constants.ts
  src/app/[locale]/hsl/+logic/questionGenerator.ts
  src/app/[locale]/hsl/+reducer/actions.ts
  src/app/[locale]/hsl/+reducer/colorGameReducer.ts
  src/app/[locale]/hsl/+reducer/createInitialState.ts
  src/app/[locale]/hsl/+reducer/handleCorrectAnswer.ts
  src/app/[locale]/hsl/+reducer/handleTryAgain.ts
  src/app/[locale]/hsl/+reducer/handleWrongAnswer.ts
  src/app/[locale]/hsl/colorGameReducer.ts
  src/app/[locale]/hsl/useColorGame.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: improve component folder structure in hsl game
  src/app/[locale]/hsl/+components/ColorBlocks.tsx
  src/app/[locale]/hsl/+components/ColorsGrid.tsx
  src/app/[locale]/hsl/+components/GameStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameOverStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/GameStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/InProgressStatus.tsx
  src/app/[locale]/hsl/+components/GameStatus/ScoreLine.tsx
  src/app/[locale]/hsl/+components/TelegramShareButton.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

style: switch win animation from realistic to pride preset in hsl game
  src/app/[locale]/hsl/+components/Confetti.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

update deps
  package.json
  pnpm-lock.yaml
  src/data-layer/supabase/models/Database.ts
  supabase/migrations/20230826142557_remote_schema.sql
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

change script names
  package.json
Due: prettier --write, cspell --no-must-find-files

add posthog
  .env.example
  configs/words.txt
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/[locale]/+components/Tracking.tsx
  src/app/[locale]/layout.tsx
  src/config/clientConfig.ts
  src/config/serverConfig.ts
  src/data-layer/posthog/initPosthogClient.ts
  src/instrumentation-client.ts
  src/middleware.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

remove supabase ci for the next branch
  .github/workflows/supabase.yml
Due: cspell --no-must-find-files

fix: update Link import to use i18n routing
  src/app/[locale]/+components/Navigation/NavGroup.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade linter
  next.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app/[locale]/+components/Menu.tsx
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/NavLink.tsx
  src/app/[locale]/wakatime/+components/Winner.tsx
  src/components/Button.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

refactor: refactor StructuredText
  src/app/[locale]/+components/Event/EventPage.tsx
  src/app/[locale]/events/EventCardDescription.tsx
  src/app/[locale]/events/EventCardTitle.tsx
  src/components/getDatoNode.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

upgrade next version
  package.json
  pnpm-lock.yaml
Due: prettier --write, cspell --no-must-find-files

add blog
  messages/en.json
  messages/fa.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app.d.ts
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/app/[locale]/+components/Navigation/Navs.tsx
  src/app/[locale]/blogs/[slug]/page.tsx
  src/app/[locale]/blogs/page.tsx
  src/app/[locale]/layout.tsx
  src/components/DatoNode.tsx
  src/components/Separator.tsx
  src/data-layer/datocms/Blog.ts
  src/data-layer/datocms/DatoCMS.ts
  src/data-layer/datocms/Fragments.ts
  src/data-layer/datocms/getBlog.ts
  src/data-layer/datocms/getBlogs.ts
  src/data-layer/datocms/getMobEvent.ts
  src/data-layer/datocms/getStageEvent.ts
  src/data-layer/datocms/getWusEvent.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix --max-warnings 0

fix en blog
  src/app/[locale]/+components/Navigation/NavGroup.tsx
  src/middleware.ts
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0

fix: fix wakatime [bot] cache
  src/app/(wakatime)/day/page.tsx
  src/app/[locale]/wakatime/page.tsx
  src/data-layer/wakatime/getReport.tsx
Due: cspell --no-must-find-files, eslint --fix --max-warnings 0
