Repository fullstacksjs/fullstacksjs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cspell --no-must-find-files, eslint --fix

.lintstagedrc.json:

{
  "*.{json,html}": ["prettier --write", "cspell --no-must-find-files"],
  "*.{md,yaml,yml}": ["cspell --no-must-find-files"],
  "*.{ts,tsx,astro}": ["eslint --fix", "cspell --no-must-find-files"]
}

add feature flags env
  .env.example
  src/env.d.ts
  src/features.ts
  src/libs/config.ts
Due: cspell --no-must-find-files, eslint --fix

migrate to the new header
  package-lock.json
  package.json
  src/components/AuthBtnSkeleton.tsx
  src/components/AuthButtonsWrapper.tsx
  src/components/Authentication.tsx
  src/components/Header.astro
  src/components/Hero.astro
  src/components/Icons/EN.astro
  src/components/Icons/IR.astro
  src/components/Icons/Menu.astro
  src/components/Locales.astro
  src/components/LoginBtn.tsx
  src/components/Nav.astro
  src/components/Navs.astro
  src/components/ProfileBtn.tsx
  src/components/SecondaryButton.tsx
  src/hooks/useDeviceSize.tsx
  src/layouts/Layout.astro
  src/styles/global.css
Due: prettier --write, cspell --no-must-find-files, eslint --fix

refactor Head
  src/components/Analytics.astro
  src/components/Head.astro
  src/layouts/Layout.astro
Due: cspell --no-must-find-files, eslint --fix

migrate to the new layout
  public/locales/en.json
  src/components/Hero.astro
  src/components/HeroMobile.astro
  src/components/JoinButton.astro
  src/components/Logo.astro
  src/components/SectionHeader.astro
  src/components/SeparatorLine.astro
  src/layouts/Layout.astro
  src/pages/fa/index.astro
  src/pages/fa/rules.astro
  src/pages/index.astro
  tailwind.config.cjs
Due: prettier --write, cspell --no-must-find-files, eslint --fix

make analytics env optional
  src/libs/config.ts
Due: cspell --no-must-find-files, eslint --fix

remove arbitrary values
  src/components/Articles.astro
  src/components/EventActionsBtn.astro
Due: cspell --no-must-find-files, eslint --fix

fix isCurrentPath
  src/components/Nav.astro
Due: cspell --no-must-find-files, eslint --fix

add ask page
  public/locales/en.json
  public/locales/fa.json
  src/components/Navs.astro
  src/features.ts
  src/libs/config.ts
  src/pages/ask.astro
  src/pages/fa/ask.astro
  src/pages/fa/rules.astro
  src/pages/rules.astro
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add ask page feature flag
  src/libs/config.ts
Due: cspell --no-must-find-files, eslint --fix

add log
  src/components/Nav.astro
Due: cspell --no-must-find-files, eslint --fix

remove trailing slash in nav
  src/components/Nav.astro
Due: cspell --no-must-find-files, eslint --fix

fix hidden mobile nav
  src/components/Header.astro
  src/components/Nav.astro
  src/components/Navs.astro
  src/layouts/Layout.astro
Due: cspell --no-must-find-files, eslint --fix

update dependencies
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

fix localizeUrl
  src/components/Locales.astro
Due: cspell --no-must-find-files, eslint --fix

fix localizeUrl 2
  src/components/Locales.astro
Due: cspell --no-must-find-files, eslint --fix

downgrade astro-i18next to 17
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

Initial commit from Create Next App
  .eslintrc.json
  .gitignore
  README.md
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/next.svg
  public/vercel.svg
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add locale feature
  src/components/Header.astro
  src/features.ts
  src/libs/config.ts
Due: cspell --no-must-find-files, eslint --fix

initial
  .editorconfig
  .eslintrc.js
  .eslintrc.json
  .prettierrc
  next.config.js
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add header
  package-lock.json
  package.json
  src/app/Header.tsx
  src/app/Nav.module.css
  src/app/Nav.tsx
  src/app/Navs.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/config.ts
  src/features.ts
  src/index.d.ts
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add i18n
  messages/en.json
  messages/fa.json
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/Header.tsx
  src/app/[locale]/Nav.module.css
  src/app/[locale]/Nav.tsx
  src/app/[locale]/Navs.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/favicon.ico
  src/app/layout.tsx
  src/config.ts
  src/env.d.ts
  src/i18n.ts
  src/index.d.ts
  src/middleware.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add link active
  src/app/[locale]/Nav.module.css
  src/app/[locale]/Nav.tsx
  src/app/[locale]/Navs.tsx
  src/i18n.ts
Due: cspell --no-must-find-files, eslint --fix

add svgr
  .npmrc
  messages/en.json
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/components/Button.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/Hero.tsx
  src/app/[locale]/components/JoinButton.tsx
  src/app/[locale]/components/Logo.svg
  src/app/[locale]/components/Nav.module.css
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

create components
  src/app/[locale]/components/JoinButton.tsx
  src/components/Button.tsx
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add socials
  messages/en.json
  src/Icons/Discord.svg
  src/Icons/Github.svg
  src/Icons/Telegram.svg
  src/Icons/Twitch.svg
  src/Icons/Twitter.svg
  src/Icons/Youtube.svg
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/components/Article.tsx
  src/components/Articles.tsx
  src/components/Highlight.tsx
  src/components/Paragraph.tsx
  src/components/SocialItem.tsx
  src/components/Socials.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add rules
  messages/en.json
  package-lock.json
  package.json
  src/app/[locale]/components/Logo.svg
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/rules/RulesBody.tsx
  src/app/[locale]/rules/page.tsx
  src/components/Rule.tsx
  src/components/RuleSet.tsx
  src/components/Socials.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

use next link
  messages/en.json
  messages/fa.json
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/components/JoinButton.tsx
  src/app/[locale]/components/Logo.tsx
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/layout.tsx
  src/components/Button.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

fix linter
  .eslintrc.js
  package-lock.json
  package.json
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/components/Hero.tsx
  src/app/[locale]/components/Logo.tsx
  src/app/[locale]/components/Nav.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/RulesBody.tsx
  src/app/[locale]/rules/page.tsx
  src/app/layout.tsx
  src/components/Paragraph.tsx
  src/components/Rule.tsx
  src/components/Socials.tsx
  tsconfig.json
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add next-auth
  src/app/[locale]/AuhProviders.tsx
  src/app/[locale]/components/Header.tsx
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/layout.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/config.ts
  src/env.d.ts
Due: cspell --no-must-find-files, eslint --fix

add auth-next
  next.config.js
  package-lock.json
  package.json
  src/app/[locale]/components/Header.tsx
  src/app/globals.css
  src/components/AuthButtonSkeleton.tsx
  src/components/Authentication.tsx
  src/components/Logout.svg
  src/components/ProfileButton.tsx
  src/components/SecondaryButton.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add getEvents
  .env.example
  .vscode/settings.json
  next.config.js
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/page.tsx
  src/app/api/revalidate/route.ts
  src/components/SectionHeader.tsx
  src/components/Separator.tsx
  src/config.ts
  src/data-layer/__genearted__.ts
  src/data-layer/operations/getEvents.ts
  src/env.d.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add events
  package-lock.json
  package.json
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
Due: prettier --write, cspell --no-must-find-files, eslint --fix

update depedencies
  package-lock.json
  package.json
Due: prettier --write, cspell --no-must-find-files

refactor feature flag and config
  src/app/[locale]/components/GithubIcon.svg
  src/app/[locale]/components/LoginButton.tsx
  src/app/[locale]/components/Navs.tsx
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/page.tsx
  src/app/[locale]/page.tsx
  src/app/[locale]/rules/page.tsx
  src/app/api/auth/[...nextauth]/route.ts
  src/app/api/revalidate/route.ts
  src/config.ts
  src/config/clientConfig.ts
  src/config/serverConfig.ts
  src/data-layer/getEvents.ts
  src/features.ts
  src/features/FeatureProvider.tsx
  src/features/Features.ts
  src/features/getServerFeatures.ts
  src/features/index.ts
  src/i18n.ts
Due: cspell --no-must-find-files, eslint --fix

add docs
  LICENSE
  README-fa.md
  README.md
  assets/footer.webp
  assets/header.png
Due: cspell --no-must-find-files

add codegen
  .cspell.json
  .graphqlrc.yml
  configs/pascalCaseWithUnderscores.js
  package-lock.json
  package.json
  src/data-layer/__generated__.ts
  src/data-layer/client.ts
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
Due: prettier --write, cspell --no-must-find-files, eslint --fix

improve event card
  messages/en.json
  messages/fa.json
  src/app/[locale]/events/EventCard.tsx
  src/app/[locale]/events/EventContent.tsx
  src/app/[locale]/events/EventList.tsx
  src/app/[locale]/events/page.tsx
  src/data-layer/domain.ts
  src/data-layer/getEvents.ts
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add meta tags
  .cspell.json
  messages/fa.json
  package-lock.json
  package.json
  public/apple-touch-icon.png
  public/avatar.png
  public/browserconfig.xml
  public/cardBG.PNG
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/favicon.svg
  public/manifest.json
  public/maskable_icon.png
  public/maskable_icon_x128.png
  public/maskable_icon_x192.png
  public/maskable_icon_x384.png
  public/maskable_icon_x48.png
  public/maskable_icon_x512.png
  public/maskable_icon_x72.png
  public/maskable_icon_x96.png
  public/mstile-150x150.png
  public/next.svg
  public/og.png
  public/robots.txt
  public/safari-pinned-tab.svg
  public/vercel.svg
  src/app/[locale]/SEO.tsx
  src/app/[locale]/ask/page.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
  src/components/AuthButtonSkeleton.tsx
  tailwind.config.js
Due: prettier --write, cspell --no-must-find-files, eslint --fix

add start_url
  public/manifest.json
Due: prettier --write, cspell --no-must-find-files
